{% extends "base.html" %}
{% block head %}
  {{ super() }}

  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments-friendly.css" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <p class="article-date">
            {{ article.locale_date }}
        </p>
        <h2>
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
        </h2>
        <div class="article-content">
            {{ article.content }}
        </div>
    </div>
</div>
{% endblock %}
